<div class="modal-dialog modal-lg" role="document" >
    <div class="modal-content"  id="modal1">
        <div class="modal-header">
            <h2 class="modal-title">INFORMACION DEL REGISTRO: {{object.id}} </h2>
            <button class="btn-close"  type="button" aria-dismiss="modal" aria-label="Close">
            </button>
        </div>
        <div class="modal-body mb-2">
            <div class="card-body">
                <dl class="row text-white">
                    <dt class="col-6 " id="show1">
                        Fecha:
                    </dt>
                    <dd class="col-6 " id="show2">
                        {{registro.fecha}}
                    </dd>
                    
                    <dt class="col-6 " id="show1">
                        Hora:
                    </dt>
                    <dd class="col-6">
                        {{registro.hora}}
                    </dd>
                    <dt class="col-6 " id="show1">
                        Origen:
                    </dt>
                    <dd class="col-6">
                        {{registro.origen}}
                    </dd>
                    <dt class="col-6" id="show1">
                        Domicilio:
                    </dt>
                    <dd class="col-6">
                        {{registro.domicilio}}
                    </dd>
                    <dt class="col-6 " id="show1">
                        Sector:
                    </dt>
                    <dd class="col-6">
                        {{registro.sector}}
                    </dd>
                    <dt class="col-6 " id="show1">
                        Unidad:
                    </dt>
                    <dd class="col-6">
                        {{registro.unidad}}
                        
                    </dd>
                    <dt class="col-6 " id="show1">
                        Grupo Operativo:
                    </dt>
                    <dd class="col-6">
                        {{registro.grupo}}
                    </dd>
                    <dt class="col-6 " id="show1">
                       Elemento:
                    </dt>
                    <dd class="col-6">
                        {{registro.agentes}}
                    </dd>
                    <dt class="col-6 " id="show1">
                        Tipo de Evento:
                    </dt>
                    <dd class="col-6">
                        {{registro.tipo_evento}}
                    </dd>
                    <dt class="col-6 " id="show1">
                        Dependencia:
                    </dt>
                    <dd class="col-6">
                        {{registro.dependencia}}
                    </dd>
                    <dt class="col-6 " id="show1">
                       Acción:
                    </dt>
                    <dd class="col-6">
                        {{registro.accion}}
                    </dd>
                    <dt class="col-6 " id="show1">
                        Observaciones:
                    </dt>
                    <dd class="col-6">
                        {{registro.observaciones}}
                    </dd>
                </dl>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" type="button" data-dismiss="modal">Cerrar</button>
        </div>
    </form>
</div>
</div>


<script type="text/javascript">
$(".btn-close").click(function(){
        $("#view").modal('hide');
    });

$(".btn-danger").click(function(){
        $("#view").modal('hide');
    });
</script>


       

